@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #fafafa;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0;
}
/* for firefox */
.no-scrollbar{
    scrollbar-width: 0;
}